@import url("flex.css");
@import url("colors.css");
@import url("logo.css");
@import url("history.css");
@import url("modal.css");
@import url("button.css");

* {
	margin: 0;
	padding: 0;
	font-family: "Inter", sans-serif;
}

form{
	width: 90%;
	margin: 0 auto;
}

html {
	height: 100dvh;
	width: 100dvw;
	position: relative;
	min-width: 280px;
}

h1 {
	justify-content: center;
	padding: 10px;
	padding-top: 20px;
}

body {
	height: 100dvh;
	width: 100dvw;
	position: relative;
}

.container {
	display: flex;
	position: relative;
	flex: 1;
	padding: 4.2%;
}

.container-xs {
	max-width: 375px;
}

.content {
	display: flex;
	position: relative;
	height: 100%;
	width: 100%;
}

.input-forms {
	background-color: #f6f6f6;
	border: 1px solid #bdbdbd;
	opacity: 0.5;
	border-radius: 5px;
	height: 50px;
	width: 343px;
	margin: 10px 5px;
	padding-left: 5px;
	background-color: #f6f6f6;
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	height: 50px;
	width: 343px;
	margin: 10px 15px;
}

.select-sexo,
.select-sexo option {
	color: #666666;
	font-size: 120%;
}

.input[type="checkbox"] {
	background-color: #666666;
	margin-left: 10px;
	opacity: 0.5;
}

.input[type="radio"] {
	background-color: #f6f6f6;
	margin-left: 15px;
}

.span-idade65 {
	color: #666666;
	margin-right: 5px;
	margin-left: 5px;
}

.input:hover {
	cursor: pointer;
	background-color: #36bebe;
}

@media (max-width: 375px) {
	.input-forms {
		margin-right: 20px;
	}

	div .group-checkbox {
		justify-content: flex-start;
	}
}

.group-checkbox {
	margin-left: 10px;
}

.flex {
	justify-content: center;
}

.fa-square-check {
	color: green;
}

.fa-circle-minus {
	color: red;
}
