body{
    margin: 0;
    padding: 0;
}


h1{
    justify-content: center;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.input-forms {
    background-color: #F6F6F6;
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    height: 50px;
    width: 343px;
    margin: 10px 15px;
}

.select-sexo{
    width: 350px;

}

.select-sexo option{
    color: #666666;
}

.input[type="radio"] {
    background-color: #F6F6F6;
    margin-left: 15px;
}

.span-idade65{
    color: #666666;
}

.input[type="button"]{
    border-radius: 30px;
    font-weight: bold;
    height: 50px;
}

.input-calcular{
    background-color: #45FEFE;
    border: none;
    margin: 5px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}

.input-entenda{
    border: 1px solid #45FEFE;
    background-color: #FFFFFF;
    margin: 10px;
}

.input-calcular:hover {
    background-color: #36bebe;
}
