input[type="search"] {
	display: flex;
	flex: 1;
	height: 50px;
	border-radius: 25px;
	background-color: var(--input-fill-color);
	border: 1px solid var(--input-border-color);
	padding: 16px;
	font-size: 1rem;
	color: var(--black);
}

input[type="search"]::placeholder {
	color: var(--placeholder-color);
}

.history-container {
	flex-direction: column;
	align-items: stretch;
}

.history-content > div {
	margin-bottom: 20px;
}

.history-card-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
}

.history-card {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}

.history-card-title {
	font-weight: 600;
	font-size: 1rem;
}

.history-card-recent-creation {
	color: var(--brown);
}

.history-card-creation-date {
	color: var(--grey03);
}

.history-card-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
}

.history-card-body {
	margin-bottom: 20px;
}

.history-avatar {
	width: 50px;
	height: 50px;
	border-radius: 8px;
	background-color: var(--grey01);
}

.history-description {
	margin-left: 20px;
	font-size: 0.9rem;
	border-bottom: 1px solid var(--grey02);
}
